.container {
  padding: 0 2rem;
}

.title {
  max-width: 500px;
  text-align: center;
  margin: 15% auto 0;
}

.title h1,
.title p{
  margin: 0;
}

.title h1{
  font-weight: 600;
  color: var(--text-black-dark);
}


.title p{
  letter-spacing: .2px;
}

@media only screen and (max-width: 600px) {
.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70vh;
}
}