.layout {
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 0;
}

.navbar ul li {
  list-style-type: none;
  letter-spacing: 0.2px;
}

.navbar ul li {
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar ul li:hover {
  text-decoration: underline;
  color: var(--text-black-dark);
}

.navbar .active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .navbar ul {
    gap: 10px;
    font-size: 0.8em;
    margin: 10px auto;
  }
}
