.layout {
  height: 100%;
}

.navbar ul {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 0;
}

.navbar ul li {
  list-style-type: none;
  letter-spacing: 0.2px;
}

.navbar .active {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .navbar ul {
    gap: 10px;
    font-size: 0.8em;
    margin: 10px auto;
  }
}
