.layout {
    height: 100%;
}

.navbar ul{
    display: flex;
    gap: 1em;
    list-style-type: none;
    justify-content: center;
    letter-spacing: .2px;
}

.navbar ul li{
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.navbar ul li:hover {
    text-decoration: underline;
    color: var(--text-black-dark)
}